<div class="row">
  <div class="col-md-6">
    {{#if showSuccessScreen}}
    <div class="alert alert-success">
      <h4>Time for another movie aye?</h4>
      <p>Movie Title: {{savedMovie.title}}</p>
      <p>Rating: {{savedMovie.rating}}</p>
      <p>Your review: {{savedMovie.review}}</p>
      <p>Date watched: {{moment-calendar date savedMovie.dateWatched}}</p>
    </div>
    <a class="hot" {{action 'addAnotherMovie'}}>Add another?</a>
    {{else}}
    <div class="form-group has-feedback {{if model.isValidEmail 'has-success'}}">
      <label>Movie Title</label>
      {{input type="text" class="form-control" placeholder="Movie name" value=title autofocus="autofocus"}}
    </div>
    <div class="form-group has-feedback">
      <label>Your review</label>
      {{textarea class="form-control" placeholder="So what did you think of the movie?" rows="5" value=review}}
    </div>
    <div class="form-group has-feedback">
      <label>Your rating</label>
      {{ted-select
        content=ratingOptions
        selectClassNames="form-control"
        optionLabelKey="title"
        optionValueKey="id"
        selected=rating
        onchange=(action (mut rating))
      }}
    </div>
    <div class="form-group has-feedback">
      <label>Date watched</label>
      {{bootstrap-datepicker value=dateWatched}}
    </div>
    <button class="btn btn-success" {{action 'submit' movieDetails}} disabled={{isSaveDisabled}}>Save</button>
      {{#if movie}}
        {{#link-to 'movies.movie' movie (query-params edit=false) class="btn btn-danger"}}Cancel{{/link-to}}
      {{/if}}
    {{/if}}
  </div>
</div>
