<h3>Without Block</h3>
{{block-component
  modalTitle="Test modal"
  confirmButtonText="Save changes"
  closeButtonText="Cancel"
  save=(action 'save')
  close=(action 'close')
}}
<hr>

<h3>With Block</h3>
{{#block-component
  modalTitle="Test modal"
  confirmButtonText="Save changes"
  closeButtonText="Cancel"
  save=(action 'save')
  close=(action 'close')
  as |modalTitle confirmButtonText closeButtonText save close|}}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" {{action close}}><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{modalTitle}}</h4>
  </div>
  <div class="modal-body">
    <p>This is only a small amount of content</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal" {{action close}}>{{closeButtonText}}</button>
    <button type="button" class="btn btn-primary" {{action save}}>{{confirmButtonText}}</button>
  </div>
{{/block-component}}

<h4>Code</h4>
<a href="https://github.com/patocallaghan/movie-diary/blob/patoc/component-workshop/app/components/block-component.js">JS</a><br>
<a href="https://github.com/patocallaghan/movie-diary/blob/patoc/component-workshop/app/templates/components/block-component.hbs">Template</a><br>
